<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
          <script src="/Users/goncalobarros/Desktop/UnbabelChallenge/java-coding-challenge/src/main/resources/public/stylesheets/styles.css"></script>
        <h1 align="center">Unbabel Challenge</h1>
    </head>



    <body>
        <div class="container">
           <form action="http://localhost:8080/home/translate/">
           <h3 > Text to translate:</h3>
             <input type="text" name="textToTranslate" value="" placeholder="Insert text here">
                <select id="selectFrom" name= "langPair">
                    {{#each langPairContainer}}
                        <option value="{{lang_pair.source_language.shortname}}/{{lang_pair.target_language.shortname}}">{{lang_pair.source_language.shortname}} / {{lang_pair.target_language.shortname}}</option>
                    {{/each}}
                </select>
             <input type="submit" value="Submit">
           </form>

            <br>
            <h3> Translations:</h3>
            <table class="table table-bordered ">
                   <tr align="center" >
                       <th>From Language</th>
                       <th>Original Text</th>
                       <th>To Language</th>
                       <th>Translated Text</th>
                       <th>Status</th>
                   </tr>
                       <tr align="center" >
                          <td>{{sourceLanguage}}</td>
                          <td>{{originalText}}</td>
                          <td>{{targetLanguage}}</td>
                          <td id={{uid}}>{{translatedText}}</td>
                          <td>{{status}}</td>
                       </tr>

            </table>
        </div>

        {{translatedText}}
    </body>

    <script>
        function pollServerForNewTranslation() {

         var id = "{{uid}}";

        setInterval(function loadTranslation() {
          var xhttp = new XMLHttpRequest();
          var params = "uid=" + id;
          xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {

                parser = new DOMParser();
                var doc = parser.parseFromString(xhttp.responseText, "text/html");
                document.getElementById(id).innerHTML = doc.getElementById(id).innerHTML

            }
          };
          xhttp.open("GET", "/home/translate/check" + "?" + params, true);
          xhttp.send();
        }, 5000);
        }
        setTimeout(pollServerForNewTranslation, 5000)

    </script>

</html>


