<div id="tableContainer"></div>
<h3> Translations:</h3>
<table class="table table-bordered ">
    <tr align="center">
        <th>From Language</th>
        <th>Original Text</th>
        <th>To Language</th>
        <th>Translated Text</th>
        <th>Status</th>
    </tr>
    <tr align="center">
        <td>{{sourceLanguage}}</td>
        <td>{{originalText}}</td>
        <td>{{targetLanguage}}</td>
        <td id={{uid}}>{{translatedText}}</td>
        <td id={{uid}}status>{{status}}</td>
    </tr>

</table>

