<table class="table table-bordered" id="table2">
    <tr align="center" class="tRow">
        <td style="display:none;">{{uid}}</td>
        <td>{{sourceLanguage}}</td>
        <td>{{originalText}}</td>
        <td>{{targetLanguage}}</td>
        <td id={{uid}}>{{translatedText}}</td>
        <td id={{uid}}status>{{status}}</td>
        <td style="display:none;">
            <button id =button, style="display:none;", onclick="pollServerForNewTranslation('{{uid}}')">
               </button>
        </td>
    </tr>
</table>

